{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * DB Snapshot plugin for Craft CMS
 *
 * Dbsnapshot Utility Content
 *
 * @author    Josh butts
 * @copyright Copyright (c) 2019 Josh butts
 * @link      https://github.com/jimbojsb
 * @package   DbSnapshot
 * @since     1.0.0
 */
#}

<h1>Dbsnapshot</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@jimbojsb/dbsnapshot/assetbundles/dbsnapshotutility/dist', true) ~ '/img/Dbsnapshot-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>